<div class="debug hidden">new-answer.hbs</div>

{{#if addNewAnswer}}
  <h3>Add New Answer</h3>
    <div>
      <form>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-1">
              <label for="author">Author</label>
            </div>
            <div class="col-sm-11">
              {{input value=author id="author"}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-1">
              <label for="contents">Answer</label>
            </div>
            <div class="col-sm-11">
              {{input value=contents id="contents"}}
            </div>
          </div>
        </div>
        <button {{action 'addAnswer'}}>Save</button>
      </form>
    </div>
{{else}}
  <button {{action 'answerFormShow'}} class="margin-top-5px">Add New Answer</button>
{{/if}}
