<div class="debug hidden">new-answer.hbs</div>

{{#if addNewAnswer}}
  <h3>Add New Answer</h3>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          {{input value=content id="content"}}
        </div>

        <button {{action 'addAnswer'}}>Save</button>
      </form>
    </div>
{{else}}
  <button {{action 'answerFormShow'}} class="margin-top-5px">Add New Answer</button>
{{/if}}
