<div class="debug hidden">question-detail.hbs</div>


<h3>Question detail page</h3>

<div class="row">
  <div class="col-sm-2">
    Author:
  </div>
  <div class="col-sm-10">
    {{question.author}}
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    Question:
  </div>
  <div class="col-sm-10">
    {{question.contents}}
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    Notes:
  </div>
  <div class="col-sm-10">
    {{question.notes}}
  </div>
</div>

{{update-question question=question update="update"}}

<hr>

{{#if question.answers}}<h3 class=margin-top-5px> Answers: </h3>{{/if}}

<ul>
  {{#each question.answers as |answer|}}
    <li>{{answer-tile answer=answer}}</li>
  {{/each}}
</ul>

{{new-answer addAnswer="addAnswer" question=question}}

<hr>

{{display-favorites item=item}}
