<div class="debug hidden">update-question.hbs</div>


{{#if displayUpdateForm}}
<h4>Update Question</h4>
<div>
  <form>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-1">
          <label for="uAuthor">Author</label>
        </div>
        <div class="col-sm-11">
          {{input value=uAuthor id="uAuthor" placeholder=question.author}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-1">
          <label for="uContents">Question</label>
        </div>
        <div class="col-sm-11">
          {{input value=uContents id="uContents" placeholder=question.contents}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-1">
          <label for="notes">Notes</label>
        </div>
        <div class="col-sm-11">
          {{input value=notes id="notes" placeholder=question.notes}}
        </div>
      </div>
    </div>
    <button {{action 'update' question}} class="margin-bottom-10px">Update</button>
  </form>
</div>
{{else}}
  <button class="margin-top-15px" {{action 'updateQuestionFormShow'}}>Update Question</button>
{{/if}}
