<div class="debug">update-question.hbs</div>


{{#if displayUpdateForm}}
<h4>Update Question</h4>
<div>
  <form>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author" placeholder=question.author}}
    </div>
    <div class="form-group">
      <label for="content">Question</label>
      {{input value=content id="content" placeholder=question.content}}
    </div>
    <div class="form-group">
      <label for="notes">Additional Notes</label>
      {{input value=notes id="notes" placeholder=question.notes}}
    </div>
    <button class="margin-bottom-10px" {{action 'update' question}}>Update</button>
  </form>
</div>
{{else}}
  <button class="margin-bottom-10px" {{action 'updateQuestionFormShow'}}>Update Question</button>
{{/if}}
